[2018-02-14 10:46] b-g opened #1 "Footer / General improvements"
Layout and spec:
* Participate https://www.figma.com/file/fAAK2wyIqmSa9jvQ7MAMYZMZ/OpenMoji-Website?node-id=0%3A3142
* About https://www.figma.com/file/fAAK2wyIqmSa9jvQ7MAMYZMZ/OpenMoji-Website?node-id=0%3A3623
* Elements https://www.figma.com/file/fAAK2wyIqmSa9jvQ7MAMYZMZ/OpenMoji-Website?node-id=0%3A17

todos:
- [x] Double check all paddings as defined in layout/spec
- [x] Add mini footer for im

[2018-02-14 10:51] b-g opened #2 "Landing: implement layout"
Here is the layout and spec:
https://www.figma.com/file/fAAK2wyIqmSa9jvQ7MAMYZMZ/OpenMoji-Website?node-id=0%3A146

We decided to go for `v2` with the blue background

[2018-02-14 10:53] b-g commented on #2
The emojis on the blue section are supposed be animated via the scroll interaction of the user. There is a demonstrator available, coming.

(Please @johannawe add the link to the scroll demonstrator here too).

[2018-02-14 11:09] b-g opened #3 "Library: finetune existing layout and expose search & detail modal via url"
spec and layout:
https://www.figma.com/file/fAAK2wyIqmSa9jvQ7MAMYZMZ/OpenMoji-Website?node-id=0%3A2775

library overview:
- [x] Finetune existing layout
- [x] Expose search via URLs for direct links e.g. `openmoji-website/library.html?author=first%20lastname&group=symbols` or `openmoji-website/library.html?search=dog` so that we can direct link e.g. all emojis of an author
- [x] Generate entire si

[2018-03-01 07:58] b-g commented on #2
Hi @PaulRaschke, just received a video which show very rough how the big emojis on lnading should be animated on user scroll interaction. It might be easier and less messy to use a library for this e.g. ScrollMagic. Here is the video: [emoji scroll video.mov.zip](https://github.com/hfg-gmuend/openmoji-website/files/1770273/emoji.scroll.video.mov.zip)

[2018-03-01 09:02] b-g opened #4 "Feedback Mar 1"
Hi @PaulRaschke, many thanks for this!! Here is my feedback:

Landing/Header
* header, emojis should be slightly bigger (e.g. 125% or give me pointer where I can tweak the size)
* header, every emoji should be clickable and link to the emoji detail view
* sticky nav, can you hide the nav until user has scrolled to it? Or at least hide the search field in the nav area until the user has scrolled do

[2018-03-09 10:05] #3 closed

[2018-03-09 10:06] #1 closed

[2018-03-09 10:08] b-g opened #5 "Add new social media icons"
Hi @PaulRaschke, Daniel Utz just created new social media icons ... please add to site: [svg.zip](https://github.com/hfg-gmuend/openmoji-website/files/1796391/svg.zip)

[2018-03-17 09:40] PaulRaschke commented on #5
Hi @b-g, sorry for the delay. I just checked the icons and the eMail-Icon is still missing.
I assume the "_hi"-Icons are intended to be used on all sites except the index-page for which i would use the outlined variations, am i right?

[2018-03-19 07:45] b-g commented on #5
Hi @PaulRaschke NP + hope you've had nice weekend! Plz:

* Drop the share via email feature ... too much effort on my end to chase up this icon.
* The other way around. Use on index xxx_hi.svg (color) and on all other sites the grey/outline ones  e.g. facebook.svg.

[2018-03-19 07:46] b-g commented on #4
@PaulRaschke Please ping me once this done ... so that I can have a look and review. Thanks!

[2018-03-19 07:49] #2 closed

[2018-03-20 18:39] PaulRaschke commented on #4
@b-g I already did a commit with changes according to your feedback

[2018-03-21 07:04] b-g commented on #4
@PaulRaschke Ok + Great! Please ping me once you are done with everything (all open issues) ... so that I can have a look. Thanks!

[2018-03-26 15:03] b-g commented on #5
@PaulRaschke Thanks for this ... but icons are now tiny ... please adjust the size and make them bigger (see old layout).

[2018-03-29 11:52] PaulRaschke commented on #5
@b-g I also noticed that, but the icons are exactly 20 x 20px like before, as it is described in the layout. I also think they're too small. The difference between the new and the old icons is that their margin is way larger and they therefore appear smaller. I thought that was intended. What do you think to what extend they need to be resized, maybe around 125% to 150%?

[2018-03-29 12:02] b-g commented on #5
Oh I see ... my or Daniel’s bad. Sorry!

Yes please scale up so that it looks visually like in the old layout. Thanks!

[2018-04-03 13:37] b-g opened #6 "Add new "Samples" page"
Hi @PaulRaschke, Hope you've had a nice Easter weekend!

There is one more task which we could use your help!
Could you implement based on the [Samples.zip](https://github.com/hfg-gmuend/openmoji-website/files/1871671/Samples.zip) another (sub) page?

![2018-04-03 at 15 32](https://user-images.githubusercontent.com/480224/38252584-d90c6454-3754-11e8-9b4a-93a17f22218d.png)

Basically:
* add to stic

[2018-04-05 18:32] PaulRaschke commented on #6
@b-g I added the new samples.html.

[2018-04-06 09:30] b-g commented on #4
@PaulRaschke Just reviewed everything from this issue ... all good, just found this last one. Please fix the icon alignment in About ... and close the issue afterwards. Cheers!

![2018-04-06 at 11 28](https://user-images.githubusercontent.com/480224/38414080-ccb64798-398d-11e8-8606-08825d488e2b.png)

[2018-04-08 17:32] #4 closed

[2018-11-13 18:40] cronin4392 opened #7 "`npm run` does not work on node > 8"
Tried installing and starting the repository using node `v10.8.0`. Some errors are thrown during install and also when trying to run `parallelshell` throws some errors. I found [this issue](https://github.com/darkguy2008/parallelshell/issues/57).

I think an `.nvmrc` file should be added to this repo to specify a version of node that works with the current set up. I tried with `v8.9.1` which seems

[2018-11-26 14:41] #7 closed

[2018-11-26 14:42] b-g commented on #7
@cronin4392 Many thanks + done as you suggested ✅!

[2018-12-04 16:48] b-g opened #9 "v2.0 discussion"
**1**
- [x] Lazy load all images and svgs http://jquery.eisbehr.de/lazy/
- [x] Prepare/add updated [data](https://github.com/hfg-gmuend/openmoji/blob/v1.5/data/openmoji.json) and latest emoji of OpenMoji [v1.5](https://github.com/hfg-gmuend/openmoji/tree/v1.5) dev branch
- [x] Add a skintones feature to the emoji detail modal
- [x] Sorting default should be according to Unicode
- [x] Sorting featu

[2018-12-11 16:59] Ananthavijay opened #10 "Hover effects"
Hover effects should be added to the social media icons in the footer in the pages :

- Library
- Participate
- Samples
- About

Will open a PR soon for this.

[2018-12-14 13:02] #10 closed

[2018-12-22 09:50] b-g opened #12 ""Get OpenMojis" button: style broken in Firefox"
![2018-12-22 at 10 47](https://user-images.githubusercontent.com/480224/50372905-0fa3a080-05d7-11e9-936a-e6f3c10cf720.png)

[2019-02-11 15:14] b-g opened #13 "Refactor url parameters to be using '#' instead of '?'"
We would like to use this Github repo in the future for hosting the website ...

Problem:
Any url with a '?' yields 404 e.g.
https://hfg-gmuend.github.io/library.html?emoji=1F4E6

Fix:
Refactor url parameters to be using '#' instead of '?'

[2019-02-15 13:20] b-g commented on #9
@PaulRaschke Ping :) FYI: Updated all svgs, pngs and data files in [branch v1.5](https://github.com/hfg-gmuend/openmoji/tree/v1.5). We should see very little changes for 1.5. or even 2.0. Please update those files in this repo / the OpenMoji website. Thanks.

[2019-02-18 16:17] b-g opened #14 "Implement new layout for OpenMoji website"
Hi @PaulRaschke,

As discussed ... here is the new layout of the OpenMoji Website:
https://www.figma.com/file/IPDkZy9bolQiXRGGnzIVHDDD/openmoji_website_v2

@johannawe Many thanks for this!! 🙏

cc @dnlutz

[2019-02-22 15:14] #12 closed

[2019-02-23 09:03] b-g commented on #13
@PaulRaschke Thanks! Works now with github: https://hfg-gmuend.github.io/openmoji-website/index.html ... Just the emoji links in the landing header are still broken. Plz fix.

[2019-02-24 11:21] PaulRaschke commented on #13
Hi @b-g,

I wasn't aware of the broken links in the index page. I will fix it asap.
It also seems like a '?' in the url isn't a problem. I tested it and both '?' and '#' seem to work fine. Therefore I would propose to move back to using '?' instead of '#'.

[2019-02-25 09:11] b-g commented on #13
Hi @PaulRaschke,

Thanks.

I would vote to stay with **`#`** as `?` implies IMO a server side query, which we don't do. Hence I believe using `#` is more correct. Can you live with it as well?

[2019-03-14 09:44] Sam0711er opened #15 "Safari bug: Hovering over links resets scroll position"
When you hover over a link, the page scrolls back to the top.

How to reproduce:
1. Open [http://openmoji.org/about.html](http://openmoji.org/about.html)
2. Scroll down
3. Hover over a link (like Twitter Icon below a profile)
4. The site scrolls back to the top

Used configuration:
Browser: Safari 12.0.3 (14606.4.5)
System: macOS Mojave 10.14.3 (18D109)
Enabled plugins: None

[2019-03-14 09:53] b-g commented on #9
Hi @PaulRaschke, Hope all is going well! Ping :) Any news / progress on the OpenMoji Website?

[2019-03-17 18:38] PaulRaschke commented on #9
Hi @b-g,
sorry for the late response.
I currently have little time on my hand. I'm confident that I push the changes next weekend at the latest. I just need to review the code. I implemented everything you mentioned for version 1 except the scroll anchor bug. Sadly I didn't have enough time to work on version 2.

[2019-03-18 10:05] b-g commented on #9
Hi @PaulRaschke,

Many thanks for the feedback! Great! Let me know once I should do a review ...

So does this mean, that you don't have time now or that you won't have time for it in the weeks to come? :)

[2019-03-24 20:51] #13 closed

[2019-03-24 20:54] PaulRaschke commented on #9
Hi @b-g,

I just pushed the changes i made.
I don't think that I have enough time in the coming weeks to work on version 2, sorry. I assume it's a rather big task.

[2019-03-26 08:59] b-g commented on #9
Hi @PaulRaschke,

many thanks for this!

Could please quickly also check off the todos in this issue https://github.com/hfg-gmuend/openmoji-website/issues/9#issue-387380472 for maximum transparency?

Do you know another student who might be interested to continue?

[2019-03-26 21:51] PaulRaschke commented on #9
I can't think of anyone spontaneously. But I will tell you if someone comes into my mind.

[2019-03-27 10:23] b-g commented on #9
@PaulRaschke Many thanks! The new features are great! The skintone selector and the new sorting is very nice! 🙏!!

[2019-03-29 10:01] #9 closed

[2019-03-29 10:07] b-g opened #16 "Emoji detial modal: broken links Category and Subcategory"
e.g. https://hfg-gmuend.github.io/openmoji-website/library.html#emoji=1F1F1-1F1F0

![2019-03-29 at 11 05](https://user-images.githubusercontent.com/480224/55225308-a0ab9880-5212-11e9-88ea-7ad31235e15d.png)

@PaulRaschke Could you have a look on that bug?

[2019-03-29 10:08] b-g commented on #15
@PaulRaschke Could you have a look on that bug? This is really a big problem, as you can't even browse with Safari the library site :( https://hfg-gmuend.github.io/openmoji-website/library.html

[2019-03-31 13:04] #16 closed

[2019-03-31 13:15] PaulRaschke commented on #15
Hi @b-g,

unfortunately I don't have Safari (no MacOS) to have a look on the Bug and I couldn't reproduce the Bug in any other popular browser. I ran Safari on a Virtual Machine but wasn't able to fix the Bug in short time and debugging really was a pain because the Virtual Machine was laggy and randomly crashed sometimes. I only discovered that I could hover the Icons without a problem, when I re

[2019-03-31 21:19] Sam0711er commented on #15
https://github.com/hfg-gmuend/openmoji-website/pull/18

[2019-04-09 22:35] brandonweiss commented on #15
This might be the same bug I’m running into [here](https://stackoverflow.com/questions/55268747/in-safari-hovering-over-svg-elements-causes-a-scrolled-element-to-reset-its-scr/)? Unfortunately I have not yet figured out how to fix it in a way that doesn’t break the full width/height layout 😞

[2019-04-10 06:58] b-g commented on #15
@brandonweiss Thanks for the pointer! We'll check ... 🤞that we can figure it out for Safari!

[2019-04-10 16:06] brandonweiss commented on #15
I found that it seemed to somehow be related to CSS grid and SVGs inside of anchor tags. When I switched from CSS grid to flexbox, it fixed the issue. 😞

[2019-04-11 07:46] Sam0711er commented on #15
Hey @brandonweiss, thx for pointing that out!
We temporarily fixed this issue [here](https://github.com/hfg-gmuend/openmoji-website/pull/18) by removing `height: 100vh` from the body. However, this killed lazy loading for us (which shouldn't be too big of a problem to fix now)

[2019-04-23 08:43] Sam0711er opened #21 "Move subpages into subfolders"
This change will make sure pages don't have URLs like `openmoji.org/about.html` but rather `openmoji.org/about`

[2019-04-23 08:59] Sam0711er opened #22 "Add SSL certificate to website"
The page needs an SSL certificate to ensure a secure connection. This will especially become a requirement with the changes introduced in #21

[2019-04-23 09:25] Sam0711er opened #23 "Imprint not working"

[2019-04-23 20:42] Sam0711er commented on #15
Hey @b-g @brandonweiss!
I got in touch with the WebKit team and asked for their help. They asked me to verify this issue with Safari Technology Preview (The Public Beta of Safari) and it seems that this is indeed a Safari bug that has been resolved there. Therefore, the problem should solve itself as soon as the new version of Safari is released.

[https://bugs.webkit.org/show_bug.cgi?id=197189](h

[2019-04-24 14:49] b-g commented on #22
@Sam0711er  Thanks for the push! :) Daniel just order an HTTPS certificate ... should be available within the next two days.

[2019-04-24 14:50] #15 closed

[2019-04-24 18:54] b-g commented on #22
Done! https://openmoji.org

[2019-04-24 18:54] #22 closed

[2019-04-24 21:01] brandonweiss commented on #15
@Sam0711er Thanks for letting me know!

[2019-04-26 20:22] Sam0711er opened #25 "Add Favicon"
The page currently lacks a favicon

[2019-04-26 21:10] Sam0711er commented on #23
Issue addresses in #24

[2019-04-27 07:46] Sam0711er commented on #23
Issue fixed

[2019-04-27 07:47] Sam0711er commented on #21
Issue fixed

[2019-04-27 07:47] #21 closed

[2019-04-29 09:45] b-g commented on #23
Hi @Sam0711er, I still have the imprint issue if I run the website via `npm start` ... did you really commit everything / did I lost something along the way? Could you merge it into the branch `web-dev-v2.0` that it doesn't get lost in the end? Thanks!

[2019-05-02 23:53] Sam0711er commented on #23
@b-g I added my change to the style.scss, but I'm not sure if that's the right way to do it. Issue is resolved on my end in Safari, Chrome, Firefox.

[2019-05-03 11:01] b-g commented on #23
@Sam0711er Nope. Imprint is still broken, see branch web-dev-2.0. Could you please fix it there? Cheers.

[2019-05-07 04:30] b-g opened #27 "Review May 7"
Review of https://hfg-gmuend.github.io/openmoji-website/

- [x] fix broken imprint #23

- [x] fix missing github icon in header
![2019-05-07 at 06 08](https://user-images.githubusercontent.com/480224/57271154-b1132680-708e-11e9-863e-1be4ff9c5a73.png)

- [x] fix broken menu links in header and use relative paths only. The menu links should work on local host and with github hosting (hfg-gmuend.gith

[2019-05-10 09:31] b-g commented on #27
@jodunkel Many thanks + Great! Just ...

- [ ] imprint still broken e.g. go to samples. Plz fix them all.
- [ ] fix broken menu links in header and use relative paths only. Is still partly broken e.g. Home > go to "Samples" > click "Participate" ... please carefully check all the pages. Also for the "OpenMoji" home menu item don't link to "index.html" (also the case from the "Samples" page)
- [ ]

[2019-05-12 17:42] jodunkel commented on #27
Hi Bene,
there's a cache problem on the sample page caused by Github. I don't know why, but in the master file the problems are already fixed. They are only published wrong with Github. I think Github has a problem and it's not the website. So the first two points should be done already and the rest I do now.

[2019-05-12 21:41] Sam0711er commented on #27
Can confirm. Github.io is having a weird caching issue. Issues don't appear outside of github.io. Maybe reinitializing helps?

[2019-05-13 09:47] b-g commented on #27
Did reinitialize the github hosting ... seems not fully to resolve it. Closing the issue. We host the production site somewhere else anyway.

[2019-05-13 09:47] #27 closed

[2019-05-13 09:47] #23 closed

[2019-05-13 10:45] #14 closed

[2019-05-13 10:59] Sam0711er opened #34 "Fix Samples.html issue"

[2019-05-13 11:01] #25 closed

[2019-05-13 11:08] #34 closed

[2019-05-13 15:17] jodunkel opened #36 "No flags in black and white"

[2019-05-13 15:52] jodunkel commented on #36
<img width="920" alt="Bildschirmfoto 2019-05-13 um 17 51 46" src="https://user-images.githubusercontent.com/35904825/57635688-ee544880-75a7-11e9-866e-5e2a85b55fb9.png">

[2019-05-13 16:10] b-g commented on #36
Thanks for reporting. We are aware of this ... there are simply no "black only" flags. Ans as we din't have the capacity to create a special feature for this on the website ... I'm afraid we have to live with it. I don't have time to improve it. Closed.

[2019-05-13 16:10] #36 closed

[2019-05-14 09:07] Sam0711er opened #37 "Add Link to App Store"

[2019-05-14 11:37] Sam0711er opened #39 "Add Smart App Banner"
A Smart App Banner may help drive downloads of the app. More Info here:

https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html

<img width="404" alt="image" src="https://user-images.githubusercontent.com/7760416/57694964-5ad55300-764d-11e9-83c1-7e100337c4d6.png">

[2019-05-14 13:31] #37 closed

[2019-05-14 13:33] #39 closed

[2019-05-15 08:05] b-g opened #41 "Website looks mega horrible on mobile"
Website looks mega horrible on mobile :( Part of the problem is that you even can't have it 100% on your mobile.

@jodunkel (or anyone else) any chance to gently improve this e.g. show the website as on desktop or at least style the landing site for mobile?

![IMG_C341D7939476-1](https://user-images.githubusercontent.com/480224/57758700-97aa5400-76f8-11e9-9b1b-a5358b90a712.jpeg)

[2019-06-19 13:15] b-g opened #43 "Emoji detail modal: add Emojipedia description"
Hi @jodunkel could you add it?

In order to get OpenMoji listed at the https://emojipedia.org we agreed to enhance our emoji detail modal with the following infos:
- emoji description from Emojipedia pulled via their API `http://api.emojipedia.org/emojis/👍/?api_key=XXX` (will post the API key private)
- next to the description text a `read more` link to the corresponding Emojipedia detail site e.g

[2019-09-16 18:43] b-g commented on #41
Hi @felixhaeberle, that would be mega!! 🙏

[2019-09-16 18:43] b-g commented on #43
Done! Emojipedia desc feature is online.

[2019-09-16 18:43] #43 closed

[2019-09-16 18:54] felixhaeberle commented on #41
I think there is space for improvement in some cases, but in order of this improvement the focus will be to align things which doesn't fit next to each other beneath each other. In some follow-up issues we could target the library section (especially) and the other sections which needs a bit more work in case of the menu sidebar. If anybody has a nice design improvement for those sidebars in mind,

[2019-09-16 19:00] b-g commented on #41
@felixhaeberle see this?

https://github.com/hfg-gmuend/openmoji-website/issues/14
-> https://www.figma.com/file/IPDkZy9bolQiXRGGnzIVHDDD/openmoji_website_v2

[2019-09-18 10:12] felixhaeberle commented on #41
It seems like it's a lot of work, but at least I'm halfway through. Major styling parts of the site had to be rewritten in order to establish a responsive behavior. I'll try to provide a first stable version soon. 🌟

Preview of my commit history (what's done already).
<img width="764" alt="Screenshot 2019-09-18 12 04 50" src="https://user-images.githubusercontent.com/34959078/65139746-6ecefe00-da0

[2019-09-18 19:44] b-g commented on #41
Hi @felixhaeberle, Wow! That looks like a lot of good work! Much looking forward to see it land here!!! Also happy to give work in progress feedback if helpful! THANKS!

[2019-09-19 11:56] felixhaeberle commented on #41
You're welcome! I'll rework the header section on mobile and after that, we could merge the first part of the responsive remake to have the front-page correctly aligned. In addition, it would be cool to open some follow-up issues to tackle the behavior of the other sites and to add some improvements.

Speaking of improvements, I have plans to integrate postcss/autoprefixer (for greater browser sup

[2019-09-19 12:38] b-g commented on #41
Great! Ping me here, or open up a new issue if there is something you would like to share / discuss / feedback. Looking forward!

[2019-09-21 12:46] felixhaeberle opened #45 "fix lighthouse statistic and apply best-practices"
Today I checked the current website with the famous Google Lighthouse test and got some pretty bad stats, there is room for improvement.

Tested with throttling enabled. On Desktop.
<img width="778" alt="Screenshot 2019-09-21 13 51 37" src="https://user-images.githubusercontent.com/34959078/65373431-dbe8ca80-dc7d-11e9-90fc-c2f0abaec22a.png">
Tested with throttling disabled. On Desktop.
<img width=

[2019-09-21 14:45] felixhaeberle commented on #41
see #46

[2019-09-23 21:26] b-g commented on #45
Hi @felixhaeberle Many thanks for "den Finger in die Wunde zu legen"! :) Yes you are right. Could be a lot better. To our excuse I just can say that this was all done with students and volunteers ... and we already had a hard time to design and figure out the emojis part ... in the end there was never enough time to really professionally implement the website. Sorry!

Interestingly the lighthouse

[2019-09-24 11:50] felixhaeberle commented on #45
Yes, performance should be influenced by your connection and your CPU, which can be slowed down to an average level by DevTools in the settings. 🎛

Ha, please don't apologize, I have worked on big corporate sites in the past where lighthouse results were even worse. 🚑

Sure, at least the accessibility issue is a hard pain point for me. After, I take care about the other points. Should take some da

[2019-09-24 18:06] b-g commented on #45
Great! 👍

[2019-10-04 21:01] #41 closed

[2019-10-04 21:04] b-g opened #47 "Make subpages responsive (improve mobile)"

[2019-10-08 15:14] felixhaeberle commented on #47
Figma link to the updated design
https://www.figma.com/file/IPDkZy9bolQiXRGGnzIVHDDD/openmoji_website_v2

[2019-10-13 15:25] b-g opened #48 "Emoji detail modal: unicode for skintone variants not reflected"
![2019-10-13 at 11 22](https://user-images.githubusercontent.com/480224/66717922-155bb400-edac-11e9-88b5-3e4d55319b59.jpg)

[2019-10-22 00:28] felixhaeberle commented on #45
Managed to get pretty good results on the front page, applying them now to the other pages aswell. 💯

<img width="1437" alt="Screenshot 2019-10-22 02 25 59" src="https://user-images.githubusercontent.com/34959078/67252481-69812b00-f473-11e9-92d3-491b14afa7c1.png">

[2019-10-22 00:33] felixhaeberle commented on #48
I'll have a look at this and try to fix this while rearranging the responsive behavior. 👍

[2019-10-22 12:53] b-g commented on #45
@felixhaeberle YAY! 💯! 🙏!

[2019-10-23 17:32] b-g opened #49 "Add hint that colorfont is currently only working in Firefox"
add hint "beta-version currently Firefox only"

![2019-10-23 at 13 31](https://user-images.githubusercontent.com/480224/67418826-8879dd00-f599-11e9-8eb3-df432aa61a5c.jpg)

https://github.com/hfg-gmuend/openmoji/issues/53#issuecomment-545551902 cc @AstroGD

[2019-11-02 13:19] felixhaeberle commented on #49
I'll add a support link pointing to this resource: https://www.colorfonts.wtf/ - they outline which apps and browsers are already capable of Opentype SVG.

[2019-11-06 14:27] b-g commented on #49
@felixhaeberle No please just ad a hint like "beta-version currently Firefox only" ... our colorfont is quite buggy and only in a proof of concept state. We support even less what is state on colorfonts.wtf :(

[2019-11-06 18:38] b-g commented on #45
@felixhaeberle Should we close this issue as of https://github.com/hfg-gmuend/openmoji-website/pull/50 ?

[2019-11-08 16:06] b-g opened #51 "Add Github Action to deploy production branch automatically via FTP"
@PaulRaschke as discussed :)

[2019-11-08 16:10] b-g opened #52 "Emoji detail modal: skintone variants not exposed via URL"
@PaulRaschke as discussed :)

![2019-11-08 at 11 09](https://user-images.githubusercontent.com/480224/68491208-68445200-0218-11ea-9645-b6ae53abaadf.jpg)

[2019-12-01 06:03] carlinmack commented on #47
Do we have any timeline on when v2 should be implemented by? I could do more proofreading of the current website but it's futile if all the copy will change with v2

[2019-12-02 14:26] b-g commented on #47
@carlinmack Happy to have you do proofreading. The OpenMoji website won't change a lot in terms of text. @felixhaeberle is "just" working on improving it in terms of mobile support and SEO. Please go ahead if you have time and energy.

[2019-12-02 16:32] #48 closed

[2019-12-02 16:32] #52 closed

[2019-12-02 16:38] b-g commented on #49
@felixhaeberle Could you add the hint ""alpha version, currently Firefox only, don't use for production!" in the next days? We get a lot questions on the colorfont in openmoji repo. Would be good to state how bad the colorfont is more explicitly.

[2019-12-02 20:53] felixhaeberle commented on #49
@b-g Yeah for sure! Had some busy weeks. Will do this change soon and also the other ones.

[2019-12-02 21:02] b-g opened #55 "Change download URL using "latest""
Currently we use URLs like the one below for the "Get OpenMojis" downloads:
https://github.com/hfg-gmuend/openmoji/releases/download/12.0.0/openmoji-72x72-color.zip

Should be (would like to get rid of the version tag in the url):
https://github.com/hfg-gmuend/openmoji/releases/latest/download/openmoji-72x72-black.zip

[2019-12-03 23:50] carlinmack opened #57 "Issues with Participate#Submission"
## https://openmoji.org/styleguide/#submission

1. This should detail the workflow for inkscape (at least) and affinity designer.
2. This should contain the same information as https://github.com/hfg-gmuend/openmoji/blob/master/CONTRIBUTING.md or should link here

[2019-12-04 13:08] felixhaeberle commented on #49
@b-g Do you agree with this?

<img width="302" alt="Screenshot 2019-12-04 14 07 13" src="https://user-images.githubusercontent.com/34959078/70145008-6ba7ed80-169f-11ea-8c73-4ca07e8f08b0.png">

[2019-12-04 13:46] felixhaeberle commented on #45
@b-g yes, thank you! 👍

[2019-12-04 13:51] b-g commented on #49
Hi @felixhaeberle, thanks! Almost!

[code]
[code]
Note the link to: https://github.com/hfg-gmuend/openmoji/issues/93

[2019-12-04 13:54] #55 closed

[2019-12-04 14:08] felixhaeberle commented on #49
updated this in #58

[2019-12-04 14:15] b-g commented on #57
Hi @carlinmack, Yes!

1. yes! Could you add the export infos for inkscape (and affinity)?
2. yes! But I would only link to CONTRIBUTING.md e.g. "How to contribute for developers", as the reality is that a lot of designers struggle with Git. We deliberately didn't put all the Github stuff under /styleguide ... as the threshold should be as low as possible to contribute. And the Pros know the Github

[2019-12-04 14:25] felixhaeberle commented on #49
This can be closed as of #58 🚢

[2019-12-04 14:42] carlinmack commented on #57
3. I know, that's why it shouldn't be called "Participate" haha, I think Participate could be a subheading on this page and have sections for designers (what design work we need) and developers (link to CONTRIBUTING.md)

[2019-12-04 16:55] b-g commented on #57
Still not sure whether I understand. I like that the title in the navigation is participate (and not styleguide) as this underpins IMO better that everyone can actually participate, whereas as styleguide is normally something static. Hence I would leave the page title as it is.

However it is a good call to make the subtitles more explicit. Maybe instead of "Participate" a "Contribute" section, or

[2019-12-04 16:56] #49 closed

[2019-12-04 16:57] #45 closed

[2019-12-04 17:33] carlinmack commented on #57
I also like having Participate in the header but the first thing you should see on the page should be how to participate. Right now users are shown the grid we use which isn't very informative.

[2019-12-04 19:10] b-g commented on #57
Yes, your are right. Maybe we could start with a general paragraph and then all the styleguide sections and conclude how to contibute / submit etc.?

[2019-12-04 19:30] carlinmack commented on #57
Yep that sounds good!

[2019-12-05 07:18] dnlutz commented on #57
I'm aware that there is some work lurking for me in this area ; )
In the near future, I would structure the "Participate" page like this:

**Intro / Call for participation**
- OpenMoji needs You
- Please contribute the missing Unicode 13 Emoji

**Design: Basics**
- Sizes, Colors, Line Widths, Shadows …

**Design: Things to Do**
- Examples for not yet perfect Emoji and how to improve them
- this wi

[2019-12-05 13:53] b-g commented on #57
@dnlutz ok :) This will be quite a restructuring ... this seems rather realistic towards spring (Feb 2020).

Maybe we could in the meantime improve it slightly:
- Starting with a nice short general text on "how to and why to participate". As @carlinmack said ... currently not optimal to start with "Grid"
- Add submission instructions for Inkscape and Affinitiy
- Add prominent link to CONTRIBUTING.

[2019-12-05 20:39] carlinmack commented on #57
I can do the instructions for Inkscape/Affinity sometime after the 13th as finals week is kicking in, most of my contributions will be very minimal until then

[2019-12-05 21:15] b-g commented on #57
Great + NP + Thanks! Same for me :) Good luck for your final weeks!

[2019-12-16 01:46] felixhaeberle commented on #47
Made good progress in the last days, will submit my first proposal tomorrow for first feedback. 🌟

[2019-12-16 14:51] b-g commented on #47
@felixhaeberle Looking forward!!

[2019-12-16 18:27] b-g opened #61 "Home: OpenMoji Version Number"
@felixhaeberle

Please
- load `data/package.json` and get the OpenMoji Version number from there
- strip the ".0" end of the version number. "12.1" is enough and "12.1.0" feels like overkill

[2019-12-16 18:27] b-g commented on #61
![2019-12-16 at 13 23](https://user-images.githubusercontent.com/480224/70932442-c3334b00-2007-11ea-95ee-9351b00e5153.jpg)

[2019-12-16 18:29] b-g opened #62 "Home: OpenMoji counter"
@felixhaeberle

Please:
- load `data/openmoji.json`
- use the `length` of the array to populate the emoji counter

![2019-12-16 at 13 27](https://user-images.githubusercontent.com/480224/70932586-12797b80-2008-11ea-98d8-ddd8a91e14d3.jpg)

[2019-12-17 01:31] felixhaeberle opened #65 "Add avatar image and description"
Add avatar image and description of myself to the about site

[2019-12-17 10:18] #65 closed

[2019-12-17 16:19] b-g commented on #47
@felixhaeberle
Review PR #63
Yay! Great improvements! Comments:

**General**
- [ ] Sticky header is nice, but would align OpenMoji more left and the hamburger menu icon more right
![2019-12-17 at 10 51](https://user-images.githubusercontent.com/480224/71011495-7a3cce80-20bb-11ea-8014-7f8dce331cd6.jpg)

- [ ] It would be nicer to have Imprint and License in a single line in Footer. Maybe simply get

[2019-12-17 16:28] b-g commented on #62
Many thanks! Done with #64.

[2019-12-17 16:28] #62 closed

[2019-12-17 16:28] b-g commented on #61
Many thanks! Done with #64.

[2019-12-17 16:28] #61 closed

[2019-12-18 11:47] felixhaeberle commented on #61
Ah this could need additional work in case of striping out the version in the markup of the HTML file because on load it can cause weird flashes from the markup (in our case at the moment 12.0) to the real version which then gets replaces by the JS. I'll commit this.

[2019-12-18 11:53] felixhaeberle commented on #47
Thanks for your review @b-g ! Great comments and the sorting of the emojis now makes much more sense with your suggestions. Let's get this ready until 🎄🌟 I'll proceed on this on the weekend 🤓

[2019-12-18 14:14] b-g commented on #47
@felixhaeberle Great! Much looking forward! Also let's aim to be pragmatic ... the mobile state on Dec 23 should at least be release-able but doesn't have to be perfect. Most important is to get everything out!

[2019-12-18 19:04] b-g opened #66 "Add FAQ to navigation"
@felixhaeberle

Could you add "FAQ" to the main navigation (external link: https://github.com/hfg-gmuend/openmoji/blob/master/FAQ.md and in between "Samples" and "About")

We get over and over the same questions especially around the license etc. At a later point we might integrate the FAQ into the website ... but as a quick work around the external link is good enough.

[2019-12-19 07:37] felixhaeberle commented on #66
Sure! :)

[2019-12-19 10:05] felixhaeberle commented on #61
fixed in #67

[2019-12-19 10:07] felixhaeberle commented on #66
Also deleting the version number in the HTML markup with this pull request for not having the flashing effect when the HTML text gets overridden by JS. 🚀

[2019-12-19 12:07] PaulRaschke commented on #51
I added the action with https://github.com/hfg-gmuend/openmoji-website/commit/d1a120fd0337eb69f09db114e250698f0abfaa13. Unfortunately the action doesn't work currently, because the hostname can't be resolved. It seems that FTPS is defined as protocol in the hostname, which conflicts with the definition of the action where SFTP is set. Does the server support SFTP? I will change the protocol used b

[2019-12-19 14:44] b-g commented on #66
Done

[2019-12-19 14:44] #66 closed

[2019-12-19 15:28] b-g commented on #51
@PaulRaschke for the remote download of the png files issue ... could you write a proxy e.g. `download-from-github.php` (the webserver has php)? It is a bit confusing that suddenly the PNG button yields e.g. https://github.com/hfg-gmuend/openmoji/raw/master/color/618x618/1F91C.png.

[code]

https://stackoverflow.com/questions/36462985/php-script-to-download-files-from-a-remote-url-to-the-users-com

[2019-12-29 17:06] felixhaeberle commented on #47
I'm going to apply your feedback today 👍

[2019-12-30 01:50] felixhaeberle commented on #47
see #63 🔢

[2019-12-30 16:26] felixhaeberle commented on #47
Here comes the full feedback to the change request:

1.  > Sticky header is nice, but would align OpenMoji more left and the hamburger menu icon more right

Done! ✅

2.  > Imprint can't be closed. Please add "X" like in main menu

Done!  ✅

3. > Wondering whether it would not be better to have for the subpages the title in the header instead of the big OpenMoji text ... ?

Not sure. Do you want to

[2020-01-03 10:53] b-g commented on #51
Hi @PaulRaschke, is the `.git`folder bug fixed? Also please merge production with master so that the Github Action is also part of Master. Thanks! Happy to close the issue afterwards ...

[2020-01-04 18:24] PaulRaschke commented on #51
Hi @b_g,

i found a solution for the .git directory bug, but forgot to push it. My bad.
I'm unsure whether the github action should be part of the master branch, since it has no function there and the chosen definition should always be the version in the production branch. But I can include it in the master branch if you want.

[2020-01-05 11:09] b-g commented on #51
Thanks! Would want to have just a single source or truth (= the master branch). Hence please merge with master.

[2020-01-05 11:52] b-g commented on #47
@felixhaeberle Great!! 👍  Almost there ... just found tiny things:

**Comments**
- Sticky header style (buttom line) home looks slightly diff in comparison to subpages. On purpose?

- old bullet point 3

What about a "←" (back arrow) + "Subpage Title"? I would find it better to have the title of the subpage in the header instead of a pretty redundant OpenMoji all the time.

- Would change font wei

[2020-01-14 00:23] felixhaeberle commented on #47
@b-g Thank you for the feedback and sorry for replying late! A lot projects 😄
I'm going to implement your feedback in the next days. 💪

[2020-01-14 08:38] b-g commented on #47
@felixhaeberle Great! Much looking forward!

[2020-01-14 09:06] b-g commented on #51
@PaulRaschke Gave it another try ... failed again :(

<img width="1073" alt="Screen Shot 2020-01-14 at 09 57 36" src="https://user-images.githubusercontent.com/480224/72329494-21118c00-36b5-11ea-9fbd-8994e05bd50c.png">

What creating a Gulp FTP action, test it locally unitil it is 100% and then wrap that into a Github action? Andreas Koller did recently one: https://github.com/andreaskoller/kirby-

[2020-01-24 09:42] b-g opened #71 "Add "Inkscape Export Instructions" to styleguide"
Hi @carlinmack! Could you add the "Inkscape Export Instructions" of https://github.com/hfg-gmuend/openmoji/issues/113#issuecomment-576442139 to https://openmoji.org/styleguide/#submission?

[2020-01-24 14:30] carlinmack commented on #71
I'll hope to do this monday

[2020-01-27 15:48] carlinmack commented on #71
done 30e8879

[2020-01-27 15:48] #71 closed

[2020-01-27 15:52] carlinmack commented on #57
Inkscape instructions were done in 30e8879

[2020-01-27 16:08] b-g commented on #71
@carlinmack Many thanks! Great to have them ... to show that Illustrator is not the only tool!

[2020-01-27 16:10] b-g commented on #57
@carlinmack Maybe another quick win might be a first "greeting" paragraph ... instead of the not so warm welcome with the grid section?

[2020-01-27 17:40] carlinmack commented on #57
Here's what I have so far,
![image](https://user-images.githubusercontent.com/6676843/73199063-25e92d80-4102-11ea-8fb3-22fd4ad87ac0.png)

[2020-01-27 21:30] carlinmack commented on #57
![image](https://user-images.githubusercontent.com/6676843/73215551-4a550200-4122-11ea-814c-6ebc509c982c.png)
![image](https://user-images.githubusercontent.com/6676843/73215553-4aed9880-4122-11ea-8aaf-55b75416bcab.png)

[2020-01-28 08:26] b-g commented on #57
@carlinmack Nice!! Comments:

- Would move emoji 13 up as top prio and link a Github issue with a list
- Big headline has to really align left ... otherwise all HfG people go crazy in terms of "good" typography :)
- Big headline text ... maybe better?  "Designer? Developer? Opensource Enthusiast? Everyone Is Welcome to Participate!"
- All titles should be Title Case
- "Improve design of emojis" >

[2020-01-28 08:57] bohnacker commented on #57
@carlinmack: Cool. Great work on the website!
@b-g: Agree with all of it. I don't really like Title Case but maybe that's a personal thing :-)

[2020-01-28 14:45] carlinmack commented on #57
1. 👍
2. 👍 I am not trained in typography, I'll do as you say haha. btw it's the styling from the front page "OpenMoji is an open source project of 53 students..."
3. I think this is a good compromise "Designer? Developer? Love Open Source? Everyone Can Participate!"
4. Agree with bohnacker, not sure
5. and 6. I prefer "Emoji"/"Emojis" in both cases. For a catchy tagline I think we should stick wit

[2020-01-28 15:00] b-g commented on #57
3. 👍 "Designer? Developer? Love Open Source? Everyone Can Participate!"
4. I'm fine either way ... and I'm not attached to Title Case. But it has to be consistent over the entire Styleguide, which currently is Title Case. Either we normalize everything or we stick with Title Case. All Good For Me.
5. / 6. OK 👍 for "Emoji" and "Emojis" ... your are the native speaker :)
7. Image "emoji 13.0" is fin

[2020-01-28 20:39] carlinmack commented on #57
Opened PR #72

[2020-01-29 08:38] dnlutz commented on #57
The call for participation for emoji 13 is important.But we should definitely wait until we have improved guidelines, a step-by-step design and technical tutorial AND an improved illustrator file to start with. I know this is a lot of work but we have to do it before we publish our call. I'm sorry that at the moment I am still too busy with other projects but an end is foreseeable.

@carlinmack /

[2020-01-29 15:14] carlinmack commented on #57
So to do:

- [ ] improved guidelines
- [ ] a step-by-step design tutorial
- [ ] a step-by-step technical tutorial
- [ ] an improved illustrator file to start with
- [ ] how to find comrades-in-arms outside Github

What do you mean with the fourth item?

Hopefully there is some /r/programmingrequests for graphic design we can ask

[2020-01-30 14:50] dnlutz commented on #57
Thank you for the list! The fourth item is more a question than a to-do: How could we motivate experienced designers / illustrators to participate in OpenMoji? These people often don't use GitHub (or they struggle with it like myself ; )

Irrespective of this: it will take some time to process the list. So it would be great if you could update the intro of the participate page. The layout and the

[2020-01-30 14:52] carlinmack commented on #57
Sorry I meant what do you mean with this "an improved illustrator file to start with"

[2020-01-30 14:55] dnlutz commented on #57
ah ok … A file that already contains some basic shapes / components / examples might be helpful for newbies. It would be easier to use these components to build something new.

[2020-01-30 14:58] carlinmack commented on #57
Oh I see that would be good, I do a lot of finding similar emojis and using their assets so this would be very helpful!

additionally the openmoji font is currently only distributed as a illustrator file, I'll update the website with a plain SVG version

[2020-01-30 15:02] carlinmack commented on #57
I would add that we need to:

- [ ] Add information for what work we need from developers.

There's stuff with OpenMoji font for sure, but we should have a to do list

[2020-01-31 14:55] carlinmack opened #73 "http://openmoji.org doesn't redirect to https://openmoji.org"
It's good practise to have http requests respond with a `301: Moved Permanently` to the https version of the site

[2020-01-31 15:05] b-g commented on #73
Solved: https://github.com/hfg-gmuend/openmoji-website/blob/master/.htaccess
I think the FTP deploy script forgot this file ...

[2020-01-31 15:06] #73 closed

[2020-02-05 01:15] felixhaeberle commented on #47
@b-g
Hey, sorry for being late 20 days 🙈! Busy doing projects at @hfg :)

Yeah! Should this be changed? In case of the start page it seperates the emoji grid from the header which looks good in my opinion, on the other sites this is not needed because we're mostly going straight to text content or have a bit better "surrounding".

Not sure. Do you want to stripe out the normal headings of the page

[2020-02-05 01:19] felixhaeberle commented on #47
Could we postpone

to a new issue with a separate PR or commit ?
I would like to get this huge PR #63 done 😄

[2020-02-06 15:03] b-g commented on #47
@felixhaeberle Yes. Will break move old bullet point into a new issue.

[2020-02-06 15:03] #47 closed

[2020-02-06 15:05] b-g opened #74 "Emoji detail view: Add padding after buttons SVG and PNG (Firefox)"
More padding after buttons SVG and PNG
![2020-01-05 at 12 46](https://user-images.githubusercontent.com/480224/71779783-b3c97100-2fb9-11ea-98fe-01a87c821d63.jpg)

Firefox. Works on Chrome for me though.

[2020-02-06 15:10] b-g opened #75 "Mobile: More descriptive subpage titles"
"old bullet point 3"

Yes. Take the page names e.g. "Participate" or "Samples" and add an arrow icon. Link could either bring you back to the last page or home. Both is fine. Pick the easier one in terms of effort.

[2020-02-06 15:15] b-g commented on #57
Hi @carlinmack!

On mobile the styleguide lacks a separation between our prompt ("please help us") and where the styleguide actually starts. I think an additional headline "Styleguide" or any other separator element would be helpful, or?

You can check it with your phone on staging:
https://hfg-gmuend.github.io/openmoji-website/styleguide/

[2020-02-06 15:22] carlinmack commented on #57
Yeah I think a headline that says Styleguide would be good, however we use `<h1>`s for the Grid, Contour etc headings already so it would look like this

# Designer? Developer?
# Love Open Source?
# Everyone Can Participate!

### Help Design New Emoji
The next set of emojis are due to be released...

### Improve Consistency with Other Platforms
To be useful for communication, emoji need to...

###

[2020-02-06 15:27] b-g commented on #57
Well we could introduce a gentle line (like Github does often) eg.:

Designer? Developer?
Love Open Source?
Everyone Can Participate!
----------------------------------------------
content
...

Styleguide
----------------------------------------------
content
...

[2020-02-06 15:36] carlinmack commented on #57
yeah that would work nicely 👍

[2020-02-09 18:10] carlinmack commented on #57
should I do this?

[2020-02-10 07:05] b-g commented on #57
@carlinmack I won't say no! :) Would be wonderful!

[2020-02-10 15:45] carlinmack commented on #57
done 4c90779

[2020-02-11 08:00] b-g commented on #57
@carlinmack Great + Many thanks!!

[2020-02-11 16:52] carlinmack commented on #57
I think we should make a new issue/s with the currently outstanding items

[2020-02-11 16:54] carlinmack opened #76 "Issues with Participate"
- [ ] improved guidelines
- [ ] a step-by-step design tutorial
    - [ ] Sizes, Colors, Line Widths, Shadows …
- [ ] a step-by-step technical tutorial
    - [ ] Curve quality, Anchor points, Layer Structure, Do's and Dont's …
    - [ ] Export and production from various sources
- [ ] an improved illustrator file that already contains some basic shapes / components / examples to start with
- [ ] ho

[2020-02-12 07:15] b-g commented on #76
@carlinmack Many thanks for splitting this up into two threads! TODO list looks good!

This week is the final show week at HfG ... hence not a lot will happen. But hoping that after Daniel and others will have more time :) 🤞

[2020-02-20 07:37] b-g commented on #75
Hi @felixhaeberle! Ping! :) Could you do the last push so that the mobile website can go finally online? Would be so nice ... please!

[2020-02-21 09:30] felixhaeberle commented on #75
@b-g Sure, currently I'm in 🇻🇳 and not available for coding, but will be the first thing to do when getting back on 2th of March.
Happy and excited to finally bring this online! 👏
Also, I have plans to extend the emoji site with the emoji mashup bot done by one of our IoT students this semester. Let's then discuss that if and how that could fit in the site in a separate issue! 💪

Thanks again for

[2020-02-21 12:24] b-g commented on #75
@felixhaeberle Great! Happy holidays in Vietnam! Ping me once you are back in DE! Not aware of the mash up bot ... sounds interesting! :) Best, B

[2020-03-02 08:26] b-g commented on #51
Hi @PaulRaschke! Quick question: Is the FTP issue still in the scope of your HiWi appointment? If not ... no problem ... just let me know. I would give then the Gulp ftp task a try ...

[2020-03-02 18:31] PaulRaschke commented on #51
Hi @b-g,
i think I can fix the FTP issue. I will try to fix it asap. I saw that a new version of the [FTP-Deploy-Action](https://github.com/SamKirkland/FTP-Deploy-Action) I used for the Github action has been released, which switched from LFTP to git-ftp as ftp-client. Before I try to fix the problem with the Gulp task, I would try the updated Action as I still prefer it to a Gulp task and it coul

[2020-03-05 10:43] b-g commented on #75
@felixhaeberle Ping! :) 🛬 safe and sound in DE? Would be super to get this out before the new semester starts ...

[2020-03-05 11:34] felixhaeberle commented on #75
Thanks, yes, save back home, fighting jetlag 😄
Will start asap, today or tomorrow! 👍

[2020-03-08 18:12] felixhaeberle commented on #75
@b-g hey! I'm back at it and planning on how to do this! So basically there is 1 problem to solve: we have a page "Participate" (-> /styleguide however 😄) and there we have the headline "Designer? Developer? Love Open Source? Everyone Can Participate!", so I suggest setting a `data-headline` attribute on the headline tag to get the data for the labeling of the menu bar.

Do you agree with this app

[2020-03-09 14:20] b-g commented on #75
@felixhaeberle
1. data-headline "Participate" is fine
2. No strong preferences either, go with the one with the most minimal effort. We can also get rid of the back arrow and check how it feels.

[2020-03-09 14:39] b-g commented on #74
Done

[2020-03-09 14:39] #74 closed

[2020-03-16 15:37] #75 closed

[2020-03-17 08:48] b-g commented on #51
Hi @PaulRaschke! Website is ready to go! Would like deploy today! :) Should I wait for the new Github action or should I simply use manual FTP? Please let me know. Many thanks + best!

[2020-03-17 12:10] PaulRaschke commented on #51
Hi @b-g,
The action is also ready. I missed to notify you, sry. I pushed the new version into the production branch yesterday and the upload worked just fine. Hopefully it's running reliably now 🤞

[2020-03-17 13:02] b-g commented on #51
@PaulRaschke Many thanks! Will give it a try! 🤞

[2020-03-17 13:02] #51 closed

[2020-03-18 07:20] b-g opened #83 "Mobile: Show OpenMojis of Author is not working"
E.g. https://openmoji.org/library/#author=Daniel%20Utz ... Only working on desktop. cc @felixhaeberle

[2020-03-18 07:28] b-g opened #84 "Get OpenMoji: Update "Fonts Download" Text"
**OpenMoji-Black.ttf**
proof of concept version,
some glyphs are broken,
not intended for production use!

**OpenMoji-Color.ttf**
beta version, works in Firefox / Edge / Adobe CC,
see [discussion](https://github.com/hfg-gmuend/openmoji/issues/93),
not intended for production use!

[2020-03-20 08:04] b-g opened #86 "About/Styleguide: "Go to" navigation jumps to wrong y-postion"
E.g. click "project intent"
![2020-03-20 at 09 00](https://user-images.githubusercontent.com/480224/77145697-928d0280-6a89-11ea-83d9-15f9b3899202.jpg)

... jumps to below the headline :(
![2020-03-20 at 09 02](https://user-images.githubusercontent.com/480224/77145743-b05a6780-6a89-11ea-919e-f7553d525189.jpg)

[2020-03-23 07:54] b-g opened #89 "No high-res "Favicon"?"
Tiny detail :) @felixhaeberle

![Screenshot 2020-03-22 at 09 09 15](https://user-images.githubusercontent.com/480224/77294070-db3ff800-6ce3-11ea-93da-4a1bbfcacb3c.png)

[2020-03-23 13:07] carlinmack commented on #89
I _**highly**_ recommend https://realfavicongenerator.net generates the files for all platforms and resolutions and doesn't require attribution :)

[2020-03-29 12:42] felixhaeberle commented on #89
@b-g I know we have favicons in place but don't know how they reflect the current implementation in browsers, the favicon env is really fast-moving 😅 I'm going to check our favicons with the tool @carlinmack mentioned, I also use this tool in all my projects – there is also a gulp preprocess alternative to the web based engine! :)

[2020-03-29 13:12] carlinmack commented on #89
You can check how our favicons currently look with their other tool https://realfavicongenerator.net/favicon_checker

[2020-03-29 13:27] felixhaeberle commented on #89
@carlinmack Thanks for the suggestion! I just did that and it's all green 😄
Meanwhile I imported a new batch of favicons generated by RFG, hopefully that works! :)

[2020-03-30 12:01] b-g commented on #84
Many thanks for this! Good idea to split into two ... however ... could you get rid of the gutter and maybe add instead a tiny grey line. Now it feels a bit strange ... at least fro my eyes.
![2020-03-30 at 13 59](https://user-images.githubusercontent.com/480224/77910074-ca1c5b80-728e-11ea-8255-021dbd0f7185.png)

[2020-03-30 12:06] #83 closed

[2020-03-30 12:07] b-g commented on #89
Will close and re-open if id doesn't get better.

[2020-03-30 12:07] #89 closed

[2020-03-30 12:09] b-g commented on #86
@felixhaeberle this one would be important too ... as it is a bit of a hindernis in terms of communicating specific sections of the styleguide in e.g. github discussion.

[2020-03-30 12:12] b-g opened #97 "Emoji detail view (mobile): previous emoji button not aligned"
![Screenshot 2020-03-29 at 20 21 07](https://user-images.githubusercontent.com/480224/77911003-62ffa680-7290-11ea-8f72-2bee95587f29.png)

[2020-03-30 13:39] carlinmack opened #99 "the link to 'openmoji-abc.svg' opens the raw file rather than downloading the file"

[2020-03-30 15:00] b-g commented on #99
Could be fixed by introducing another php proxy, like https://github.com/hfg-gmuend/openmoji-website/blob/master/php/download_from_github.php

[2020-03-31 07:12] b-g opened #100 "Issues with "emojis of author" and "emoji detail" views on mobile"
Hi @felixhaeberle, I have trouble with the emojis of author" and "emoji detail" views on mobile (Safari and Firefox). Hard to explain ... basically

- "emojis of author" link are only working if opened in a new tap
- "emoji detail" link is only working once

please see Video:
[RPReplay_Final1585638265.MP4.zip](https://github.com/hfg-gmuend/openmoji-website/files/4407299/RPReplay_Final1585638265.MP

[2020-03-31 11:19] felixhaeberle commented on #100
I'll care about this today.

[2020-04-01 21:03] felixhaeberle commented on #100
I found a solution for the bug and will commit it tomorrow after testing it 👍

[2020-04-02 16:06] felixhaeberle commented on #97
I fixed this one in #100 aswell :) 👍

[2020-04-03 07:53] b-g opened #103 "Can we gitignore `style/main.css.map`?"
Many thanks!

@felixhaeberle `style/main.css.map` creates sometimes merge conflicts. Can we put to gitignore?

Also you don't have to do all the time for "small things" PRs. Just push to master and ping me ... seems an overkill to do a PR for this in our working relation :)

[2020-04-03 07:58] b-g commented on #86
Still buggy:

![2020-04-03 at 09 55](https://user-images.githubusercontent.com/480224/78337619-86c53400-7591-11ea-9e8f-79f8d331efd9.gif)

[2020-04-03 08:00] b-g commented on #97
Fixed! Thanks!

[2020-04-03 08:00] #97 closed

[2020-04-08 09:21] b-g commented on #86
Ping @felixhaeberle any news on this? :)

[2020-04-13 11:54] felixhaeberle commented on #100
@b-g This is already fixed by the last PR. 🚢

[2020-04-14 07:00] #84 closed

[2020-04-14 07:00] #103 closed

[2020-04-14 07:48] b-g commented on #86
Thanks + solved!

[2020-04-14 07:48] #86 closed

[2020-04-14 07:50] b-g commented on #100
@felixhaeberle Nope! Still the same bug :(

Please:
- investigate and commit potential solutions directly to Master
- test via the staging (everything in Master is automatically stagged) https://hfg-gmuend.github.io/openmoji-website/ on a mobile phone

[2020-04-14 14:38] felixhaeberle commented on #100
Mmh okay, this one is really strange, I'll look it up tonight.

[2020-04-23 07:29] b-g commented on #100
@felixhaeberle Ping :) Any news?

[2020-04-23 16:13] carlinmack commented on #76
we should integrate @dnlutz information about design that he posted here https://github.com/hfg-gmuend/openmoji/issues/95

[2020-04-25 12:42] felixhaeberle commented on #100
Yes! I'll have a look on this today for sure :)

[2020-04-25 21:40] felixhaeberle commented on #100
This one was really tricky! :)
Tried to fix it with JS but had no luck, setting a Cache-Control header should fix it I guess based on my trouble shooting :)
@b-g Could you fix that?

See https://stackoverflow.com/questions/7248111/how-to-prevent-content-being-displayed-from-back-forward-cache-in-firefox

[2020-04-27 06:46] b-g commented on #100
@felixhaeberle Many thanks for this! Could you please add the settings to https://github.com/hfg-gmuend/openmoji-website/blob/master/.htaccess ... you can deploy/test by merging to branch production. It will go online within a few mins. See the Github Actions tab for the status.

I think it makes more sense if you could do this ... as you already spent time on this. Otherwise let me know ...

[2020-04-27 13:33] b-g commented on #100
@felixhaeberle at least on my end the entire website feels really really slow. Is this just me? Or if not ... is there a smarter way to deal with the headers and caching?

[2020-04-27 13:40] b-g commented on #100
e.g. all images cached for a month
[code]

[2020-04-28 11:02] felixhaeberle commented on #100
yes, we could try that and see what's the outcome! caching the pictures and css shouldn't be a problem.

[2020-05-04 12:43] felixhaeberle commented on #100
@b-g I did the adjustments like you described above. I'm going to test it on some devices soon. Let's see how we improved.

[2020-05-04 14:38] b-g commented on #100
Great! Fingers crossed :)

[2020-05-05 06:25] b-g commented on #100
Closing this issue! Fixed! Yay!! @felixhaeberle 🙏

[2020-05-05 06:25] #100 closed

[2020-05-10 15:59] carlinmack commented on #99
I've learned that you can actually just set the `download` parameter in the link https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#Attributes

[2020-05-13 12:47] b-g opened #113 "Emoji detail view: visualize unicode in OpenMojis"
Hi @felixhaeberle !

It would be nice and super useful if the unicode would be visualize and clickable in the emoji detail view. Eg "woman teacher" (Woman - ZERO WIDTH JOINER - School):

Unicode:
1F469-200D-1F3EB
👩 - ZWJ - 🏫

I am imagining "👩 - ZWJ - 🏫" directly and alinged underneath "1F469-200D-1F3EB". Think of clickable path in your macos finder.

Could you add that over the next weeks?

See a

[2020-05-16 16:17] carlinmack opened #116 "Add download sizes"
![image](https://user-images.githubusercontent.com/6676843/82124743-fae91f00-976e-11ea-8f48-546c4304c610.png)

On Chrome for me it starts downloading when you click so I think it would be better to warn people. Should I make a PR?

[2020-05-18 06:55] b-g commented on #116
Yes ... but then we would allways have to update this. A pain to maintain. Could we either not add the infos or be really vague "< 5 MB" and "~ 30 MB"? My vote would go to not add the infos.

[2020-05-18 15:13] carlinmack commented on #116
that's fine 👍

[2020-05-18 15:13] #116 closed

[2020-05-21 07:17] b-g commented on #113
Closed. Good enough as it is.

[2020-05-21 07:17] #113 closed

[2020-12-01 23:31] carlinmack commented on #76
Comparable styleguide https://labs.mapbox.com/maki-icons/guidelines/

[2020-12-02 15:14] b-g commented on #76
Nice find! Great inspiration!

[2020-12-03 10:26] dnlutz commented on #76
… and a neat layout ; )

[2021-04-20 21:01] carlinmack opened #138 "The weird pull requests we're getting are people using our actions to mine crypto"
They create a heavily forked action and run this miner https://github.com/xmrig/xmrig/ This isn't our fault, and I'm not sure what we can do, but just to state what's going on

[2021-05-18 09:57] b-g opened #140 "Maintenance and Wishlist to support upcoming 13.1 release"
- Update to node 14.x (also in `.nvmrc` file)

**Library**
- enhance emoji detail modal to support multiskintones. Basically add a second skintone selector if it is a multiskintone emoji
- library (list view): just show the skintone_base_emoji and don’t show deduced multiskintone emojis. Filter: `e.skintone_combination !== multiple`
- add to sort/filter dropdown “have skintones”. Filter `e.skinton

[2021-05-26 17:20] carlinmack commented on #140
https://realfavicongenerator.net just added an inbuilt SVG favicon editor

[2021-05-26 17:20] carlinmack commented on #140
https://realfavicongenerator.net just added an inbuilt SVG favicon editor

[2021-05-26 17:29] carlinmack commented on #99
Hmm the attribute is there and if you link to a website it will download the html page. Not sure why the behaviour is different for SVG

[2021-06-30 13:34] #99 closed

[2021-07-01 07:54] b-g commented on #140
Hi @PaulRaschke Many thanks for this! Great!

- Tiny bug: missing image
![2021-07-01 at 09 49](https://user-images.githubusercontent.com/480224/124087040-ebe82d80-da51-11eb-861b-6694a53b9006.jpg)

- And I would find it more logical and more consitent to put the folder `/src/favicons/` to `/img/favicons/`

Otherwise this is ready to go (please deploy afterwards and close this issue). M A N Y  T H A

[2021-07-01 12:10] PaulRaschke commented on #140
Hi @b-g,

I think there shouldn't be an image in the first place, or should it? On the deployed instance https://openmoji.org/ none is displayed and when evaluating this code part https://github.com/hfg-gmuend/openmoji.org/blob/7b176ea65cc8a85119602b7885316ae17911d93b/src/general.js#L3-L9 it's just appended to the header because `window.location.pathname` is `"/openmoji.org/"` instead of `"/"` on

[2021-07-01 12:43] b-g commented on #140
Hi @PaulRaschke,

- Many thanks for refactoring the favicon folder!
- Many thanks for the Adleraugen! Yes you are right, landing header shouldn't have this image. Please remove.

then please deploy :)

[2021-07-01 14:21] PaulRaschke commented on #140
Deployed! 🎉

[2021-07-01 14:21] #140 closed

[2022-01-14 08:32] b-g opened #151 "Review 14 Jan 2022 (after porting to Astro)"
**Landing**
<img width="928" alt="Screen Shot 2022-01-14 at 09 09 33" src="https://user-images.githubusercontent.com/480224/149477832-47c801be-50fc-43cc-a902-89cdc5531492.png">

<img width="929" alt="Screen Shot 2022-01-14 at 09 10 19" src="https://user-images.githubusercontent.com/480224/149477896-2b676c24-de6e-4803-8f11-3f4ecd0e3ca6.png">

- Please remove all "share" links in all footers (everwh

[2022-01-14 08:34] b-g commented on #151
**Library**

<img width="925" alt="Screen Shot 2022-01-14 at 09 10 56" src="https://user-images.githubusercontent.com/480224/149478302-9e33e362-cd4c-4ec5-872b-6202adde096b.png">

<img width="924" alt="Screen Shot 2022-01-14 at 09 16 00" src="https://user-images.githubusercontent.com/480224/149478338-d3a9f33a-7c1b-4b66-8789-7c7f636a3814.png">

- Would be nicer to have a tiny padding between the two

[2022-01-14 08:38] b-g commented on #151
**Styleguide**

<img width="925" alt="Screen Shot 2022-01-14 at 09 17 06" src="https://user-images.githubusercontent.com/480224/149479401-6c27d61b-8166-4cbb-84a3-ba426a10ed78.png">

- Get started button should be after
- Now all sub-headline on the page a black ... what about giving some color back and maybe also a a section line separator (like in typical READMEs)

<img width="924" alt="Screen Sh

[2022-01-14 08:41] b-g commented on #151
**About**

<img width="922" alt="Screen Shot 2022-01-14 at 09 21 08" src="https://user-images.githubusercontent.com/480224/149481139-8d3d61f4-83b8-4b3f-a641-4e498715d86d.png">

- Having tow time the page title e.g. "About" feels a bit too much. I would remove one and either have only a page title (under the header) or the page title in the header (and no title underneath).

<img width="924" alt="S

[2022-01-14 08:42] b-g commented on #151
Hi @stephanbogner! Many thanks for everything! As discussed ... here a quick review. Hope not too crazy in terms of effort.

[2022-02-14 20:56] stephanbogner commented on #151
Hi Bene,

All the points you mentioned should be fixed now – but your pair of 👀  to check would be much appreciated 🙏

The new version is online on [lab.stephanbogner.de](https://lab.stephanbogner.de/)

### Four aspects worth noting:
**1.: I took the opportunity to also clean up the variable names to be consistent.**
<img width="1083" alt="Screenshot 2022-02-14 at 21 36 02" src="https://user-image

[2022-02-16 15:24] b-g commented on #151
@stephanbogner Many thanks for this!

All good + Great!  IMO nothing to do or change.

But found these tiny details ... afterwards happy to launch the site 🥳! :)

Find it odd that the filter / sorting controls scroll down a bit
![2022-02-16 at 16 17](https://user-images.githubusercontent.com/480224/154295881-4cb4c089-bc6d-412b-88f8-ac558888d123.jpg)

Would find it better to have the extras in the

[2022-02-27 13:43] stephanbogner commented on #151
Hey @b-g

Thanks for the report!

### RE: Sidebar-sorting
That was almost intentional because I added alphabetic sorting 😄.
I now changed it so, everything is still ordered alphabetically, except if it starts with `extras-`, then it gets put last.

<img width="553" alt="Screenshot 2022-02-27 at 13 48 48" src="https://user-images.githubusercontent.com/7897006/155883086-08b5f413-bd65-435d-969b-bf033

[2022-03-04 10:54] b-g commented on #151
Hi @stephanbogner, great many thanks for improvements / fixes! Solved! Just I get an empty scrollbar now ... please remove. After this ... we should deploy to production 🥳!

![2022-03-04 at 11 53](https://user-images.githubusercontent.com/480224/156750406-a8cf88bb-7f37-4590-b163-e635ac529a71.jpg)

[2022-03-04 13:47] stephanbogner commented on #151
I think there is nothing I can do about it 😞

I have to set `overflow-y: scroll`, because otherwise we have the same problem as we have on the current version of the site:
Currently you can't scroll even when the expanded content is larger than the viewport ([example](https://openmoji.org/library/#group=smileys-emotion)). It is just cropped (except you scroll all the way to the bottom of the page)

[2022-03-04 13:54] stephanbogner commented on #151
Ok, nevermind. According to the [specs](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-y) `overflow-y: auto` should fix it.

[2022-03-04 15:49] b-g commented on #151
👍 + yay! Should we then deploy it?

[2022-03-08 14:14] stephanbogner commented on #151
**Sorry for the slow reply, but there was a reason 🙈:**
On Friday I noticed that the generated .html files are unexpectedly big (not only library but also home) ... and I was like 😮 🤔.

The culprit was the openmoji.json, which is 2mb large. This was always the case, but before it was fetched and not directly baked into the html, so at least I never noticed it.

If we were a big tech company we'd h

[2022-03-08 14:59] b-g commented on #151
Brilliant! Super that you already integrated it into the post install hook!

How? :)
1. Should I merge the astro branch into master?
2. Then merge master into production?

Will this do the trick?

[2022-03-08 22:42] stephanbogner commented on #151
I just pushed the latest build and the adjusted yml-workflow-file, so yes I think this should do the trick 🤞 🙂

[2022-03-09 09:02] b-g commented on #151
Thanks + Ok it is running. Fingers crossed :) Closed.

[2022-03-09 09:02] #151 closed

[2022-03-09 09:03] b-g opened #157 "Upgrade Github Action SamKirkland/FTP-Deploy-Action to latest version"
We are using a quite old version, see https://github.com/SamKirkland/FTP-Deploy-Action/releases

[2022-03-09 10:41] b-g opened #158 "What to do with broken FTP-Deploy-Action?"
Hi @stephanbogner,

The FTP-Deploy-Action run was completed https://github.com/hfg-gmuend/openmoji.org/actions/runs/1956258529 ... but the website on https://openmoji.org/ is still the old one. It seems not to be working :(

Are you willing once more to investigate, or should we fall back to old school ftp?

[2022-03-09 11:52] stephanbogner commented on #158
Weirdly it did upload ... but to `/docs`, even though `server-dir` should default to `./` 🤔
(Aren't we already doing old school FTP? 😅)

- I tried to explicitly stated `server-dir`, but that apparently wasn't available in the version we use.
- I tried upping the version (also regarding #157) , but then login to FTP doesn't work. I assume because [it was changed how the server argument works](https

[2022-03-09 12:52] b-g commented on #158
I see :) ... + Great/no rush! Glad that you will look into it.

[2022-03-09 21:06] stephanbogner commented on #158
@b-g

Ok, so I just checked.
✅ It's working with my server with the following settings:
[code]
❌ ... but it doesn't work with:
[code]
❌ or:
[code]
→ I receive `Error: FTPError: 530 Login incorrect.`

I assume username and password is correct as it worked before, so it must be the server.

**→ Could you check what the correct URL for the server is? (e.g. by logging in via CyberDuck)**
(Github unfor

[2022-03-09 21:11] stephanbogner commented on #158
My guess from the [old migration guide](https://github.com/SamKirkland/FTP-Deploy-Action/blob/3.1.1/v2-v3-migration.md#breaking-changes) is, that it's currently written like `ftp://some-server.com` but should in the new version only be `some-server.com`

[2022-03-10 11:36] b-g commented on #158
OK. Many thanks for investigating! Did send you the logins details via Signal messenger ... please overwrite the Github secrets.

[2022-03-10 20:25] stephanbogner commented on #157
**✅ Done**

- Testing the latest version (commit 791a851db2a3cf3b0e54b60f80816a1d2c22c7b9)
- First deploy with correct server configuration (commit 3e9c55ec93f005af723dca2b4e0985e807b155b3)
- Thanks to a bug I also verified that it actually only uploads changed files 😅

[2022-03-10 20:26] #157 closed

[2022-03-10 20:31] stephanbogner commented on #158
**It's finally live**  🎉 🙂
(The new credentials did the trick!)

@b-g Can you check [this PR](https://github.com/hfg-gmuend/openmoji.org/pull/159) so we merge the final changes in production back into main?
And maybe also do a quick check, but on my end everything looks good in Chrome, Firefox and Mobile Safari.

[2022-03-11 14:18] b-g opened #160 "Review Mar 11 (on mobile)"
Menu:
- "X" seems duplicated, to be a small X inside a big X
![IMG_479F7FA8E923-1](https://user-images.githubusercontent.com/480224/157884088-3a5ca3a4-8c17-4aa6-ad20-3dc4defdb2c4.jpeg)

Home:
- Missing padding for "Or try OpenMoji on your phone"
- First big button looks slightly broken
![IMG_5AC12520BBF1-1](https://user-images.githubusercontent.com/480224/157883223-149d589d-bcf1-4e05-97d8-fff1f1ca

[2022-03-11 14:22] b-g commented on #158
@stephanbogner YAY! YAY!! The eagle has landed! Yes plz merge the PR!

Looks good! Thanks again!! Found some tiny things on mobile ... and there seems to be a general problem with /library for Firefox Mobile (iOS). But not sure whether it worth to optimize for such a tiny iOS niche browser.

https://github.com/hfg-gmuend/openmoji.org/issues/160

[2022-03-11 14:22] #158 closed

[2022-03-14 15:57] b-g opened #161 "Remove assets called from external domain (data protection)"
https://github.com/hfg-gmuend/openmoji/issues/377

Remove assets called from:

-    fonts.googleapis.com
 -   developer.apple.com

[2022-03-15 07:56] b-g opened #162 "About: Please align OpenMojis in about text to baseline"
Could you please y translate all openmojis so that they fit nicely together with the about text?

![Screen Shot 2022-03-15 at 08 52 00](https://user-images.githubusercontent.com/480224/158331561-010bde0b-90bc-47c1-8d87-615cd632ad1f.jpg)

[2022-03-15 11:58] stephanbogner commented on #162
You are using Firefox, I assume?

I am gonna have a look, why it doesn't look like in Chrome:
<img width="625" alt="Screenshot 2022-03-15 at 12 56 27" src="https://user-images.githubusercontent.com/7897006/158372832-be543d6b-454b-4e85-aa26-f739030a9e2e.png">

**But in any case:**
Which Emoji should I base the translation on?
(I used the cat for reference, but now seeing it again it doesn't work we

[2022-03-15 12:59] b-g commented on #162
Ups ... again this Firefox. Sorry!

I would go with any which is aligned like this e.g. 1F3F7.svg
![2022-03-15 at 13 58](https://user-images.githubusercontent.com/480224/158382904-04366686-c7b3-4d97-a722-6882e6a6dca2.jpg)

[2022-03-23 07:36] manutero opened #163 "[bug] Search box doesn't work (won't open the selected emoji)"
check the video:

https://user-images.githubusercontent.com/2211052/159647105-e70324c4-7759-40b9-a268-9aa81dba4e7b.mov

Expected result:
 - the selected emoji is opened.

***

Minor research:

 1. `XHR` request to `/data/openemoji.json.gz` returns 200 ✅
 2. `emoji-details-popup.js:112` logs an error 🔴
[code]

https://user-images.githubusercontent.com/2211052/159647989-cf45193d-6fd6-4fdc-85f2-f2cca

[2022-03-23 07:42] b-g commented on #163
Hi @manutero, many thanks for reporting! We will have a look. cc @stephanbogner

[2022-03-23 07:55] manutero commented on #163
More info: this is happening with Firefox, I've tried Chromium and it's able to open the emoji-detail view.

My Firefox version: `98.0.1 (64 bits)` - the latest by the time I'm writing this

[2022-03-25 12:03] manutero commented on #163
I've done some research. I've forked the project and launched it locally. Using firefox's developer console I've set some breakpoints and the behaviour is ... interesting:

1. **If I set a breakpoint, then resume the execution**: the emoji-detail view is opened just fine
2. **No breakpoint**: bugged behaviour (no detail view opened)

So there is some **`asynchronous issue`** around.

I've recorded

[2022-03-28 08:04] b-g opened #164 "Landing: Links of OpenMojis are broken"

[2022-04-08 07:30] b-g opened #165 "Write a few nice astro tech tweets (after fixes and final deployment)"
Would be nice to tweet about the new tech stack at our twitter channel cc @stephanbogner

[2022-04-26 08:52] stephanbogner commented on #162
### The joys of cross-browser font-rendering 😅 ☠️

**(Currently) On the left Chrome and on the right Firefox:**
You can see that the line heights are completely different

<img width="1280" alt="Screenshot 2022-04-26 at 10 40 30" src="https://user-images.githubusercontent.com/7897006/165260928-9d12f0b6-b212-4bcf-8ac7-1e3634fb1574.png">

**(New approach) On the left Chrome and on the right Firefox:

[2022-04-26 19:49] stephanbogner commented on #165
Totally agree, once done, I also want to add it to the [Astro showcase](https://astro.build/showcase/) via [this form](https://github.com/withastro/astro.build/issues/new/choose)

[2022-04-27 06:21] dnlutz commented on #162
the details … thank you!

[2022-04-28 22:33] stephanbogner commented on #160
@b-g

**(1) Regarding "First big button looks slightly broken": How should it ideally look like?**
(Because it's always an issue with fully rounded buttons, that they look weird once a line break happens. Technically it does behave correctly as "Contribute" is too wide to fit into the remaining space and thus breaks into the next line.)

**(2) Otherwise all issues should (🤞) be fixed**

**(3) We n

[2022-04-29 06:33] b-g commented on #160
Hi @stephanbogner, MEGA! The new views look super lovely!! All great + super that it runs smoothly on Firefox mobiles as well!

1. looks now good (enough)
2. 👍
3. 👍

I found these broken links (don't point to the generate detail sites):
![2022-04-29 at 08 28](https://user-images.githubusercontent.com/480224/165895238-8cb419c1-b51a-4747-9d67-a4aa6505333d.jpg)

Could you afterwards:
- deploy
- write

[2022-04-29 06:35] b-g commented on #160
afterwards: close this issue and the addressed ones eg. #164

[2022-04-29 19:42] #160 closed

[2022-04-29 19:42] #161 closed

[2022-04-29 19:42] #162 closed

[2022-04-29 19:42] #163 closed

[2022-04-29 19:42] #164 closed

[2022-04-29 22:30] stephanbogner opened #169 "Github Action Fails due to FTP-Deploy-Action"
@b-g

FTP-Deploy-Action is causing problems again 😞  And I honestly don't know if there is a fix (I again tried both versions) ...

- When using version 3.1.1 ([docs](https://github.com/SamKirkland/FTP-Deploy-Action/blob/da0d77ff390a13097c60f9b9eb954e503a480d97/README.md)) → Ignores the setting and uploads to `openmoji.org/docs` instead of `openmoji.org`
- When using version 4.3.0 → Fails during u

[2022-04-30 10:30] stephanbogner commented on #165
Hey @b-g

**(1)** [I submitted OpenMoji to the Astro Showcase](https://github.com/withastro/astro.build/issues/104)

**(2)** I think we are ready to send tweets. Proposal, but feel free to change:

`🎉 Now every emoji has its own page – check it out yourself: https://openmoji.org/library/emoji-1F389/`
<img width="1200" alt="unique page" src="https://user-images.githubusercontent.com/7897006/1661014

[2022-05-02 08:10] b-g commented on #169
This is crazy. I think we should simply stop here and go back to old school local sync ... and maybe visit it again in the distant future or simply use github pages to host openmoji.org. In the meantime I think we could simply setup a local sync script for the Cyberduck ftp app e.g.

[code]

what do you think?

[2022-05-02 18:35] stephanbogner commented on #169
Totally agree ... I honestly ran out of ideas anyways.
(But as this is a reported bug in FTP-Deploy-Action it might get fixed eventually.)

[2022-05-03 08:18] stephanbogner commented on #165
We are now on the [showcase](https://astro.build/showcase/) ... not particularly close to the top, but nevertheless 😄

<img width="1280" alt="Screenshot 2022-05-03 at 10 17 27" src="https://user-images.githubusercontent.com/7897006/166422986-77b7f8de-3377-4c66-a6c2-9e65561a0749.png">

[2022-05-03 08:20] b-g commented on #165
YAY! Thanks!

[2022-06-14 10:55] b-g opened #170 "About: Stephan Bogner and Astro links are not click able"
Reported via Email by @birbilis, thanks! cc @stephanbogner

[2022-06-21 09:51] stephanbogner commented on #170
Ok, really weird:

- It's only broken when using the hash link: https://openmoji.org/about/#contact
- It works fine when you go to https://openmoji.org/about/ and scroll down manually

The culprit is that bit in [global.scss](https://github.com/hfg-gmuend/openmoji.org/blob/master/src/shared-styles/global.scss#L68):
[code]

@b-g Do you know the purpose of this? Otherwise I'd just remove it and see

[2022-06-21 09:51] #165 closed

[2022-06-22 06:28] b-g commented on #170
Hi @stephanbogner, many thanks for investigating! No idea ... please remove and test :)

[2022-06-29 08:57] stephanbogner commented on #170
Ok, the CSS is quite smart actually.

I artificially pushes the content down, so that nothing is hidden behind the sticky header.
I added it's purpose as a comment and added `pointer-events: none;` as a fix.

[2022-06-29 08:57] #170 closed

[2022-06-29 09:00] stephanbogner commented on #169
I disabled the workflow for now, see [this commit](https://github.com/hfg-gmuend/openmoji.org/commit/eade27a4450b758f90490fc556893e671ac0f6e4).

[2022-06-30 08:37] b-g commented on #169
Many thanks!

[2022-06-30 08:41] b-g commented on #170
@birbilis Many thanks for reporting! But this is totally the wrong place to discuss :) Please:
- repost under the main OpenMoji repo
- be more verbose and provide images
THX

[2022-06-30 10:27] birbilis opened #171 "Treble clef inconsistency"
found a small conceptual inconsistency with an icon on openmoji:

![image](https://user-images.githubusercontent.com/3461504/176655283-2d03d6e5-c002-48a9-9860-0aeeb35bef8a.png)

Note that the description (from Emojipedia) speaks of “five horizontal lines” that are missing. Not sure if the description comes from some official Unicode “spec”

Wikipedia says a G-clef is a Treble clef only if its draw

[2022-07-07 11:42] birbilis opened #173 "emoji specific pages don't show Search box"
at pages like https://openmoji.org/library/emoji-1F604/ the Search box is missing at the top

![image](https://user-images.githubusercontent.com/3461504/177765169-6b60c9d8-ef0d-410c-a448-dcc8f2fbdf4b.png)

one has to go to a "folder" page to see the search, e.g. to https://openmoji.org/library/#group=smileys-emotion%2Fface-smiling

![image](https://user-images.githubusercontent.com/3461504/1777653